@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}
h1{
    /*margin: ;*/
    padding: 18px ;
    text-align: center;
    display: flex;
    background-color: blue;
    color: #fff;
    justify-content: center;
}
body{
    background-image: url("http://tinyurl.com/yfpbur57");
    /*background: #E3F2FD;*/
    background-size: cover;
}
.container {
    display: flex;
    gap: 35px;
    padding: 30px;
  }
.weather-input{
     width: 550px;
  }
.weather-input input {
     height:40px ;
     width: 360px;
     font-size: 15px;
     padding: 7px;
     margin: 15px;
     border-radius: 4px;
     border:1px solid #5372F0;
}
.weather-input input:focus{
    padding: 1px;
    border: 1px solid  #5372F0;
}
.weather-input .separator {
    height: 1px;
    width: 400px;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.weather-input .separator::before{
  content: "or";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #E3F2FD;
}
.weather-input button {
    width: 300px;
    padding: 7px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #5372F0;
   /* transition: 0.2s ease;*/
   margin-left: 40px;
   margin-top: 10px;
  }
  .weather-input .search-btn:hover {
    background: #1b3dc9;
  }
  .weather-input .location-btn {
    background: #6C757D;
  }
  .weather-input .location-btn:hover {
    background: #5c636a;
  }
  .weather-data{
    width: 800px;
  }
  .weather-data .current-weather {
    color: #fff;
    background: #5372F0;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
  }
  .current-weather h2 {
    font-weight: 700;
    font-size: 1.7rem;
  }
  .weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
  }
  .current-weather .icon {
    text-align: center;
  }
  .current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
  }
  .current-weather .icon h6 {
    margin-top: -10px;
    text-transform: capitalize;
  }
  .days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
  }
  .days-forecast .weather-cards {
    display: flex;
    gap: 20px;
  }
  .weather-cards .card {
    color: #fff;
    padding: 30px;
    list-style: none;
   /* width: calc(100% / 5);*/
    background: #6C757D;
    border-radius: 5px;
    height: 170px;
    width: 150px;
  }
  .weather-cards .cardh3{
    font-size: 1.3rem;
    font-weight: 600;
  }
  .weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
  }
  .weather-data .current-weather{
    padding: 20px;
  }
  .weather-cards .card{
    flex-wrap: wrap;
  }
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  /*.container {
    flex-wrap: wrap;
    padding: 15px;
  }*/
 /* .weather-input {
    width: 650px;
  }*/
  .weather-data h2 {
    font-size: 1.35rem;
  }
  .weather-cards{
    flex-wrap: wrap;
  }
